body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.top_btn{
  border-top-left-radius: 4.7px;
  border-top-right-radius: 4.7px;
}

.magic_trickery{
    background: rgba(0, 0, 0, 0.92);
}

.nav_btn {
  line-height: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 80px;
  padding: 0;
  flex-shrink: 0;
  margin: 0 2.5px 0 2.5px;
}

#title-bar{
  display: flex;
  -webkit-app-region: drag;
    background: rgba(255, 255, 255, 0);
}

#title-bar-btns{
  -webkit-app-region: no-drag;
}

.close_btn_right{
  -webkit-app-region: no-drag;
}

#lang-btn{
  background: url(../ui/preferences_tab_01.png);
  margin-left: 0;
  width: 80px;
}

#web-btn{
background: url(../ui/preferences_tab_01.png);
}

#sign-btn{
background: url(../ui/preferences_tab_01.png);
}

#hotkey-btn{
background: url(../ui/preferences_tab_01.png);
}

#theme-btn{
background: url(../ui/preferences_tab_01.png);
}

#Others-btn{
background: url(../ui/preferences_tab_01.png);
}

#close-btn{
  margin-right: 0px;
  margin-left: 1px;
  padding-right: 9px;
  margin-top: 6px;
  background: url(../ui/header_close_bl_01.png);
  height: 20px;
  width: 24px;
}

.option-name{
  color: #737373;
  font-size: 12px;
  padding-top: 2px;
}

.close_btn_right{
  line-height: 1px;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  padding: 0;
  flex-shrink: 0;
}

.lang_entry{
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 0;
  margin-top: 0;
  padding-top: 15px;
}

.hot_title{
  margin-left: 2%;
}

#add-btn{
  display: flex;
  margin-left: auto;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 3%;
  padding-left: 28px;
}

.en{
  color: white;
  font-size: 13px;
  font-family: sans-serif;
}

.lang_choice{
  margin-left: 15px;
}

.final_btns{
  display: flex;
  margin-top: 1%;

}

.btn_group{
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.save_btns{
  background: url(../ui/preferences_btn_s_01.png);
  line-height: 1px;
  border: none;
  outline: none;
  height: 20px;
  width: 82px;
  border-radius: 10%;
}

.us{
  margin-bottom: 2%;
}

.sites{
  display: flex;
}

.web_info{
  margin-right: 5%;
  margin-left: 3%;
  color: white;
  font-family: sans-serif;
  font-size: 13px;

}

.hotkey_background{
  display: flex;
  overflow-y: scroll;
  height: 245px;
}

.hotkeys_bg{
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.spec_btn_grp{
  line-height: 1px;
}

.rem{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2%;
}

.url_bar{
  margin-left: 1%;
  margin-right: 1%;
  width: 43%;
}

.hkey{
  margin-left: auto;
  margin-right: 2%;
}

.e1{
  background-color: white;
  height: 34px;
  padding-bottom: 1%;
  padding-left: 1%;
}

.c1{
  color: black;
  padding-bottom: 1%;
}

.e2{
  background-color: gray;
  height: 34px;
  padding-bottom: 1%;
  padding-left: 1%;
}

.c2{
  color: white;
  padding-bottom: 1%;
}

.extras{
  margin-left: 3.8%;
}

.spec_btn{
  margin-left: auto;
  width: 80px;
  margin-right: 2%;
}

.theme_end_btns{
  margin-top: 26%;
}

.snap_info{
  width: 572px;
  line-height: 2;
}
@media (max-width: 685px) {
  .snap_info{
    width: 200px;
    line-height: 2;
    margin-right: 297px;
  }
}

.snap_info_btn{
  margin-top: 1%;
  width: 84px;
  padding-left: 15px;
}

.spec_bar{
  height: 25px;
}

.spec_row{
  display: flex;
  line-height: 1px;
  margin-bottom: 2%;
}

.show_hide_web{
  display: none;
}
.show_hide_hotkey{
  display: none;
}
.show_hide_lang{
  display: block;
}
.show_hide_theme{
  display: none;
}
.show_hide_Other{
  display: none;
}
.show_hide_sign{
  display: none;
}

.op_l{
  color: white;
}
.op_w{
  color: #737373;
}
.op_s{
  color: #737373;
}
.op_h{
  color: #737373;
}
.op_t{
  color: #737373;
}
.op_o{
  color: #737373;
}

.op_l:hover{
  color: white;
}
.op_w:hover{
  color: white;
}
.op_s:hover{
  color: white;
}
.op_h:hover{
  color: white;
}
.op_t:hover{
  color: white;
}
.op_o:hover{
  color: white;
}
