body{
  background-color: rgba(16, 15, 15, 0.95);
  opacity: 0.7;
  margin-left: 0px;
  margin-right: 0px;
}

.heading{
  color: white;
  font-family: sans-serif;
  margin-left: 5%;
  font-size: 1.5rem;
}

.qua_btns{
  margin-left: 5%;
}

.sel-btns{
  display: block;
  line-height: 1px;
  text-align: left;
  margin-bottom: 6%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(16, 15, 15, 0);
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  color: white;
  width: 100%;
  padding: 0;
}

.sel-btns:hover{
  background-color: gray;
}
